<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>.footer {
        position: fixed;
        margin-top: 10px;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px;
        color: white;
        text-align: center;
    }
    </style>
</head>

<body>


<footer class="footer bg-dark" >
    <div class="container">
        <span class="text-muted">&copy; Erida Nurce, Jorgel Keci, Elvi Cela, Giuliano Ballshi</span>
    </div>
</footer>
</body>
</html>